.xred {
  border: 1px solid red !important;
}

.xgreen {
  border: 1px solid green !important;
}

.xblue {
  border: 1px solid blue !important;
}

.yred {
  background-color:  lightcoral !important;
}

.ygreen {
  background-color:  lightgreen !important;
}

.yblue {
  background-color:  lightskyblue !important;
}

.ybrown {
  background-color:  hsl(39, 22%, 61%) !important;
}
